{% extends "public/templates/public_template.html" %}

{% block title %}Detect Faces{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Face Detector Web Interface</h1>
      <hr>

      <form action="/" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select an image</label>
          <div class="custom-file">
            <input type="file" class="form-control" name="image" id="uploadImage">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
  <hr/>
  <div class="row">
    {% if filename %}
	<div>
		<img src="{{ url_for('static', filename=filename) }}" class="img-fluid">
	</div>
{% endif %}
  </div>
</div>

{% endblock %}
